.container {
  width: 100vw;
  height: 100px;
  background: lightblue;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 50px;
}

.link {
  text-decoration: none;
}

.click {
  cursor: pointer;
}
