

.btn-class {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: darken(grey, 10%);
    border-color: darken(grey, 10%);
    color: white;
  }
}

.red-btn {
  background-color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 5px;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: red;
    border-color: red;
    color: white;
  }
}
